*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 275px;
    background-color:coral;
}

header .section1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}
section .nav-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-header a{
    margin: 0 20px;
}

header .section2{
    text-align: center;
    margin: 80px auto 0;
}
.section2 h1{
    margin-bottom: 20px;
}
.section2 p{
    margin-bottom: 10px;
}


main{
    margin: 70px auto;
}

main .section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;
}

.section1 .img-text{
    height: 150px;
    width: 35%;
    margin: auto 10px;
}

.section1 .img{
    background-color:brown;
}

.section1 .text{
    background-color:aqua;
}

main .section2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 .img{
    height: 50px;
    width: 50%;
    background-color:brown;
    margin-bottom: 10px;
}

.section2 .text{
    height: 50px;
    width: 50%;
    background-color:aqua;
}

footer{
    height: 250px;
    background-color: black;
    color: white;
}

.container-footer{
    width: 75%;
    padding: 30px 100pxx;
}

.section1-footer{
    
}
.section2-footer{
    display: flex;
    justify-content: flex-end;
}
.column-footer{
    padding-right: 100px;
}