*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
    ;
}

header{
    background-color:coral;
    height: 150px;
    margin: 0;
}

header .section1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section .nav-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-header a{
    margin: 0 20px;
}

header .section2{
    text-align: center;
    margin: 40px auto 30xp;
}

main section{
    padding: 20px, auto;
}

.section1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;
}

.section1 .img-text{
    height: 150px;
    width: 35%;
    margin: auto 10px;
}

.section1 .img{
    background-color:brown;
}

.section1 .text{
    background-color:aqua;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 .img{
    height: 50px;
    width: 50%;
    background-color:brown;
    margin-bottom: 10px;
}

.section2 .text{
    height: 50px;
    width: 50%;
    background-color:aqua;
}
