*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


/* header */
header{
    height: 300px;
    background-color:coral;
}

header .section1-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

section .nav-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-header a{
    margin: 0 20px;
}

header .section2-header{
    text-align: center;
    margin: 80px auto 0;
}

.section2-header h1{
    margin-bottom: 20px;
}

.section2-header p{
    margin-bottom: 20px;
}

.section2-header .button{
    margin: auto 10px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
}


/* main */
main{
    margin: 70px auto;
}

main .section1-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;
}

.section1-main .img-text{
    height: 150px;
    width: 35%;
    margin: auto 10px;
}

.section1-main .img{
    background-color:brown;
}

.section1-main .text{
    background-color:aqua;
}

main .section2-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2-main .text{
    height: 100px;
    width: 50%;
    background-color:aqua;
    margin-bottom: 20px;
}

.section2-main .img{
    height: 250px;
    width: 50%;
    background-color:brown;
    margin-bottom: 20px;
}

.section2-main .end-text{
    height: 100px;
    width: 50%;
    background-color:aqua;
}


/* Footer */
footer{
    height: 500px;
    max-width: 2000px;
    background-color: black;
    color: white;
}

.container-footer{
    width: 75%;
    height: 80%;
    margin: auto;
    /* justify-items: center; */
    padding: 30px 100px 20px;
    display: flex;
    /* justify-content: space-between; */
    border-bottom: 1px solid white;
}
  
    /* section1 footer */
.section1-footer{
    margin-top: 15px;
    margin-right: 40px;
}

.section1-footer h3{
    color: blue;
}

    /* section2 footer */
.section2-footer{
    display: flex;
    justify-content: space-between;
}

.column-footer{
    text-decoration: none;
    color: white;
}

/* .column-start-footer{
    padding-right: 115px;
} */
.column-middle-footer{
    padding-left: 115px;
}
.column-end-footer{
    padding-left: 115px;
}

.title-column{
    color: blue;
}

.column-footer a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
}

.end-footer{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}